// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-items: stretch;
}

.header{
  display: grid;
  grid-column: 1 / span 12;
  height: 60px;
  background-color: black;

}

.dropdown{
  position: absolute;
  top: 17px;
  right: 15px;
}

.dropbtn{
background-color: black;
  color: white;
}

//Selve indholdet i dropdown menuen.
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #aaaaaa;
  width: 100vw;
  z-index: 5;
  right: 0;
}

//De links der er i menuen
.dropdown-content a{
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  display: block;
  font-family: 'raleway', sans-serif;
}

//Farven på linket(kassen) når musen er hen over
.dropdown-content a:hover{
  background-color: #000000;
}

//Viser menuen når markøren er over menulogoet.
.dropdown:hover .dropdown-content{
  display: block;
}

.footer{
  display: grid;
  grid-column: 1 / span 12;
  background-color: #111111;
  position: relative;
  top: 400px;
  height: 100px;
  padding-top: 30px;

}

.footertxt{
  color: #ffffff;
  text-align: center;
}

.menubar{
  display: none;
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

.dropdown{
  display: none;
}

.header{

}

.menubar{
  display: block;
  right: 1px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

li{
  list-style-type: none;

}

ul li{
  display: inline-block;
  padding: 18px 15px;
  right: 0;
}

.menubar ul li{
  display: inline-block;
  justify-content: space-between;
  }

}

@media print {
  // Alt der gælder for print specifikt
}